# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environments
# =========================
env/
venv/
.seg/
*.env

# =========================
# Checkpoints & weights
# =========================
checkpoints/
*.pth
*.pt
*.ckpt
*.params


init_weights/
# =========================
# Datasets (ignore raw data)
# =========================
datasets/

# =========================
# Large feature files
# =========================
*.npy
*.npz

# =========================
# Logs
# =========================
runs/
logs/
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/